.page-title {
  text-align: center;
}
.page-header {
  padding-bottom: 9px;
  margin: 40px 0 20px;
  border-bottom: 1px solid #eee;
}
.menu-section {
  padding: 10px 0px;
}
.meal-section {
  padding: 0px 0px 10px 0px;
}
