{% extends "layout.html" %}

{% block title %}<title>Home</title>{% endblock %}

{% block head %}
{{ super() }}
{% endblock %}

{% block content %}
<div class="container">
    <div class="page-header">
        <img src="{{ url_for('static', filename='img/logo.png') }}" class="mx-auto d-block" alt="logo" height="200">
        <h1 class="page-title">About HUDS Green</h1>
    </div>
</div>

<div class="container">
    <h3>Why Use HUDS Green?</h3>
    <p class="lead">Beef and dairy account for 14.5% of the world’s greenhouse gas (GHG) emissions. In fact,
        if you usually eat beef once or twice a week, your consumption of beef is contributing to around 604kg
        of GHG emissions per year — that’s enough to drive a petrol car 1,542 miles or power the average UK
        home <a href="https://www.bbc.com/news/science-environment-46459714">for 95 days!</a>
    </p>

    <p class="lead"> So why don’t more people make the choice not to eat meat?</p>

    <p class="lead"> According to <a href="https://www.sciencedirect.com/science/article/abs/pii/S0195666319310384">a
            2019 study</a>
        conducted by UCLA psychologists, the 5 key barriers to eating vegetarian are “perceptions that following a
        vegetarian diet would be (1) inadequately
        nutritious, (2) too financially expensive, (3) unfamiliar, (4) inconvenient, and (5) inadequately tasty.
    </p>

    <p class="lead">
        <i>Well, what if it was easy to know that you’re meeting your daily recommended protein intake —
            and conveniently available with your already-paid-for HUDS meal plan?</i>
    </p>

    <p class="lead">
        <b>Actually, it is easy — just use HUDS Green!</b>
    </p>

    <p class="lead">
        <b>How do we calculate how much protein you need?</b><br>
        We follow the <a
            href="https://www.health.harvard.edu/blog/how-much-protein-do-you-need-every-day-201506188096)">Recommended
            Dietary Allowance (RDA)</a>
        for protein which suggests we eat a modest 0.36 grams of protein per pound of body weight. Of course, if you are
        highly active or would just like to eat
        more protein than we suggest, that’s also fine!
    </p>
    <hr>
    <h3>About the Authors</h3>
    <p class="lead">
        <b>Matthew Su</b> is a sophomore from San Antonio, TX studying Computer Science and Chemistry. Outside of coding
        for CS50 projects, Matt is also a
        member of Harvard Computer Society's Tech for Social Good and is an avid fan of, well, using tech for social
        good. In his free time,
        you might catch him — oh wait, he's taking orgo 2. There's no free time, he'll be studying for that.
    </p>
    <p class="lead">
        <b>Jessica Wu</b> is a junior from Cornwall, NY studying Applied Math and Economics. When not working on CS50,
        Jess spends her time working with a
        tech startup and some finance clubs on campus, among other things. She's highly passionate about sustainability
        and is on a personal journey
        towards becoming vegetarian — we're in this together!
    </p>

</div>

{% endblock %}