{% extends "layout.html" %}

{% block title %}<title>Home</title>{% endblock %}

{% block head %}
{{ super() }}
{% endblock %}

{% block content %}
<div class="container">
    <div class="page-header">
        <img src="{{ url_for('static', filename='img/logo.png') }}" class="mx-auto d-block" alt="logo" height="200">
        <h1 class="page-title">Welcome to HUDS Green!</h1>
    </div>
</div>

<div class="container">
    <div class="meal-section">
        <h2>Carbon-Friendly Meal of the Day:</h2>
        <div class="menu-section">
            <ul class="list-group">
                <li class="list-group-item">Cras justo odio</li>
                <li class="list-group-item">Dapibus ac facilisis in</li>
                <li class="list-group-item">Morbi leo risus</li>
                <li class="list-group-item">Porta ac consectetur ac</li>
                <li class="list-group-item">Vestibulum at eros</li>
            </ul>
        </div>
    </div>

    <h2>Today's Menu:</h2>
    {% for index, row in menu.iterrows() %}
    <div class="menu-section">
        <h3>{{ row["Menu_Category_Name"] }}</h3>
        <ul class="list-group">
            {% for item in row["Recipe_Print_As_Name"] %}
            <li class="list-group-item">{{ item }}</li>
            {% endfor %}
        </ul>
    </div>
    {% endfor %}


</div>
{% endblock %}